<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <fi-main-menu></fi-main-menu>
  </mat-sidenav>
  <div fxFlexFill fxLayout="column">
    <fi-navbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="ouvrir le menu principal">menu</mat-icon>
      </button>
      <span (click)="sidenav.toggle()">Semper</span>
      <span fxFlex></span>
      <span>{{ auth.user?.username }}</span>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Options</button>
        <button mat-menu-item>Aide</button>
        <ng-container *ngIf="!!auth.user">
          <a mat-menu-item routerLink="register/disconnect">se déconnecter</a>
        </ng-container>
        <ng-container *ngIf="!auth.user">
          <a mat-menu-item routerLink="register/login">se connecter</a>
        </ng-container>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
      </button>
    </fi-navbar>
    <fi-main-content fxFlex="grow">
      <router-outlet></router-outlet>
    </fi-main-content>
    <fi-footer></fi-footer>
  </div>
</mat-sidenav-container>
