<div class="mat-typography" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="0 1 500px">
    <form (ngSubmit)="createNewUser(model)" #registrationForm="ngForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Créer mon compte</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Identifiant"
                  [(ngModel)]="model.username" name="username">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Mot de passe"
                  [(ngModel)]="model.password" name="password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="email" matInput placeholder="Courriel"
                  [(ngModel)]="model.email" name="email">
            </mat-form-field>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-button>Créer mon compte</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
<p>
  Déjà inscrit ? <a mat-button color="primary" routerLink="../login">connectez-vous</a>
</p>
