<md-sidenav-container>
  <md-sidenav mode="over" #sidenav>
    <fi-main-menu></fi-main-menu>
  </md-sidenav>
  <div class="content" fxLayout="column" fxFlex>
    <fi-navbar>
      <button md-icon-button (click)="sidenav.toggle()">
        <md-icon aria-label="ouvrir le menu principal">menu</md-icon>
      </button>
      <span (click)="sidenav.toggle()">Semper</span>
      <span fxFlex></span>
      <span>{{ auth?.user?.username }}</span>
      <md-menu #appMenu="mdMenu">
        <button md-menu-item>Options</button>
        <button md-menu-item>Aide</button>
        <ng-container *ngIf="!!auth.user">
          <a md-menu-item routerLink="register/disconnect">se déconnecter</a>
        </ng-container>
        <ng-container *ngIf="!auth.user">
          <a md-menu-item routerLink="register/login">se connecter</a>
        </ng-container>
      </md-menu>
      <button md-icon-button [mdMenuTriggerFor]="appMenu">
          <md-icon>more_vert</md-icon>
      </button>
    </fi-navbar>
    <fi-main-content fxFlex>
      <router-outlet></router-outlet>
    </fi-main-content>
    <fi-footer></fi-footer>
  </div>
</md-sidenav-container>
