<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <fi-main-menu></fi-main-menu>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <fi-navbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="ouvrir le menu principal">menu</mat-icon>
      </button>
      <span (click)="sidenav.toggle()">Semper</span>
      <span fxFlex></span>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Option</button>
        <button mat-menu-item>Aide</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
      </button>
    </fi-navbar>
    <fi-main-content fxFlex>
      <router-outlet></router-outlet>
    </fi-main-content>
    <fi-footer></fi-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
