<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="0 1 500px">
    <form (ngSubmit)="submitCredentials(loginInfo)" #loginForm="ngForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>se connecter</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-input-container>
              <input type="text"
                  placeholder="ton pseudo"
                  matInput
                  [(ngModel)]="loginInfo.username"
                  name="username">
            </mat-input-container>
          </p>
          <p>
            <mat-input-container>
              <input type="password"
                  placeholder="ton mot de passe"
                  matInput
                  [(ngModel)]="loginInfo.password"
                  name="password">
            </mat-input-container>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary">connexion</button>
        </mat-card-actions>
      </mat-card>
    </form>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
</div>
<p>
  Vous n'avez pas de compte ? <a mat-button color="primary" routerLink="../register">Créer mon compte</a>
</p>
