/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// body {
//   min-height: 100vh;
// }

html, body, fi-root, md-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}
